.swiper {
    max-width: 1120px;
    height: 730px;
}

.swiperSlide {
    position: relative;
    max-width: 1120px;
}

.swiperSlide img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}