.userSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 120.839px;
    width: 100%;
    height: 17px;
    position: relative;
}

.userSectionLink {
    display: flex;
    align-items: center;
    transition: all 0.3s ease 0s;
}

.userSectionLink:hover {
    opacity: 0.5;
}

.bookNumBody{
    position: absolute;
    top: 8px;
    right: -8px;
}

.bookNum {
    width: 13px;
    height: 13px;
    background: #ff353a;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 10px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
