.nav {
    max-width: 372px;
    width: 100%;
}

.navList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
}

.navItem {
    color: #1c2a49;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 900;
    text-transform: uppercase;
    outline: none;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}

.navItem:hover {
    opacity: 0.5;
}

@media (max-width: 690px) {
    .nav {
        display: none;
    }
}
